.splash-container {
  margin-top: 14%;
}

.intro-container {
  align-items: center;
}

.photo-container img {
  width: 420px;
  height: 680px;
}

.photo-container {
  display: block;
  position: relative;
}


.form-container {
  flex-flow: column;
  align-items: center;
  display: flex;
  margin-top: -40%;
  margin-left: 40%;
}